html{
    scroll-behavior: smooth;
}

.butpesq{
    background-color: #f25278;
    border-color: #f25278;
    color: black;
    font-family: 'Karla', sans-serif;
}
.butpesq:hover{
    background-color: #FE7F9C;
    border-color: #FE7F9C;
    color: whitesmoke;
    font-family: 'Karla', sans-serif;
    transition: all 0.3s ease;
}

.justify{
    text-align: justify;
    padding: 2%;
}

h1{
    margin-bottom: 3%;
}

#about, #gallery{
    margin-top: 3%;
    margin-bottom: 3%;
}

.photoshadow{
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.3);;
}

.dropstyle{
    background-color: pink;
    border-color: #000    ;
}

.dropstyle:hover{
    background-color: pink;
    border-color: #000;
    color: white;
    transition: all 0.3s ease;
}

.dropitem{
    color: #59554C;
}

.dropitem:hover{
    color: white;
    transition: all 0.3s ease;
}